{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template core_courseformat/local/content/section/cmlist

    Section Carrousel override: wraps activities in a flex-wrap card grid.
    When a section has 4 or more activities the list switches to a Bootstrap 5
    multi-item carousel (3 cards per slide).

    Example context (json):
    {
        "cms": [
            {
                "cmitem": {
                    "id": 3,
                    "module": "forum",
                    "anchor": "module-3",
                    "extraclasses": ""
                }
            }
        ],
        "hascms": true,
        "showmovehere": false,
        "movingstr": "",
        "cancelcopyurl": "#",
        "movetosectionurl": "#",
        "strmovefull": "",
        "usecarousel": false,
        "carouselid": "carrousel-cms-abc123",
        "slides": [
            {
                "active": true,
                "items": []
            }
        ]
    }
}}
{{#showmovehere}}
<p>{{movingstr}} (<a href="{{{cancelcopyurl}}}">{{#str}} cancel {{/str}}</a>)</p>
{{/showmovehere}}
{{#usecarousel}}
<div id="{{carouselid}}" class="carousel slide carrousel-multiitem">
    <div class="d-flex justify-content-end gap-2 mb-3 carrousel-nav">
        <button class="btn btn-outline-secondary btn-sm px-3" type="button"
                data-bs-target="#{{carouselid}}" data-bs-slide="prev"
                aria-label="Previous slide">&#8249;</button>
        <button class="btn btn-outline-secondary btn-sm px-3" type="button"
                data-bs-target="#{{carouselid}}" data-bs-slide="next"
                aria-label="Next slide">&#8250;</button>
    </div>
    <div class="carousel-inner">
        {{#slides}}
        <div class="carousel-item {{#active}}active{{/active}}">
            <ul class="section img-text d-flex flex-wrap gap-3 p-0 m-0 list-unstyled carrousel-cmlist"
                data-for="cmlist">
                {{#items}}
                    {{#showmovehere}}
                    <li class="movehere">
                        <a href="{{{moveurl}}}" title="{{strmovefull}}" class="movehere"></a>
                    </li>
                    {{/showmovehere}}
                    {{#cmitem}}
                        {{$ format_sectioncarrousel/local/content/section/cmitem}}
                            {{> format_sectioncarrousel/local/content/section/cmitem}}
                        {{/ format_sectioncarrousel/local/content/section/cmitem}}
                    {{/cmitem}}
                {{/items}}
            </ul>
        </div>
        {{/slides}}
    </div>
</div>
{{/usecarousel}}
{{^usecarousel}}
<ul class="section img-text d-flex flex-wrap gap-3 p-0 m-0 list-unstyled carrousel-cmlist {{#hascms}}has-activities{{/hascms}}" data-for="cmlist">
{{#cms}}
    {{#showmovehere}}
    <li class="movehere">
        <a href="{{{moveurl}}}" title="{{strmovefull}}" class="movehere"></a>
    </li>
    {{/showmovehere}}
    {{#cmitem}}
        {{$ format_sectioncarrousel/local/content/section/cmitem}}
            {{> format_sectioncarrousel/local/content/section/cmitem}}
        {{/ format_sectioncarrousel/local/content/section/cmitem}}
    {{/cmitem}}
{{/cms}}
{{#showmovehere}}
    <li class="movehere">
        <a href="{{{movetosectionurl}}}" title="{{strmovefull}}" class="movehere"></a>
    </li>
{{/showmovehere}}
</ul>
{{/usecarousel}}
